@model guran_2_2023.Models.Predajcovia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Predajcovia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Znacky)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Znacky)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
